body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background:#30353f; 
  
}
.main{
    color: #9da1a9;
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.header {
    height: 50px;
    background: #343943;
    color: white;
    display: flex;
    flex-direction: row;
}
#inline_div{
    display: inline;
}
.header-left{
    float: left;
    display: flex;
    flex-direction: row;
}
.button-login{
    height: 80px;
    width: 35px;
}
.titlebar-login{
    height: 100%;  
}
.login{
    color: #bdbec2;
    display: inline-flex;
    margin-top: 20px;
}

.header-mid{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0;
    height: 50px;
    transform: translateX(-50%); 
}
.key-wizard{
    width: 240px;
    position: relative;
    text-align: left;
}
.key-wizard_input{
    height: 25px;
    margin-top: 0px;
    position: relative;
    width: 100%;
   
}
.header-right{
    float: right;
    padding-right: 5px;
    position: absolute;
    top: 0;
    right: 0;
}
.right{
    float: right;
}
.content {
    
    background: #1e2127;
    display: flex;
    flex-direction: row;
}
.flex1 {
    flex: 1;
    background-color: #181a1f;
    position: absolute;
    top: 50px;
    left: 0;
    bottom:80px;
    z-index: 1000;
    margin-left: 0;
    width: 54px;
    transform-origin: 0 50%;
    transform: scale(1);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    
}
.flex2 {
    flex: 2;
    margin-left: 54px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.title-right{
    font-size: 20px;
}
.StockQuote-Filter{
    color: #b9c0d0;
    background-color: #2b3244;
    border-bottom: 1px solid #000;
    overflow: hidden;
    display: flex;
    font-size: 12px;
    height: 38px;
    min-height: 28px;
    line-height: 28px;
}
.StockList-Main{
   width: 100%;
}
.flex3 {
    color: #9da1a9;
    background-color: #1e2127;
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    
}
.D3Info{
    float:right;
    width: 150px;
    height: 180px;
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 20px;
}
.footer {
    height: 80px;
    background: #30353f;
    color: white;
    margin-bottom: 0px;
}
.information{
    border-right: 1px solid #0d0e0f;
}
.StutusBar{
    float: left;
}
.market{
    float:right;
    margin-right: 10px;
}
.name{
    text-align: center;
}
.now{
    color: red;
    display: inline-block;
}
.now1{
    color:#d19f3e;
}
.now2{
    color: green;  
}
.now3{
    color:#d94042;
}
.bg-black {
    background: black;
}
.bg-red {
    background: red;
}
a:hover{color:red;}